html {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

body {
  font-family: muli;
  font-size: 1.6rem;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}

h2 {
  font-size: 3rem;
}

.home {
  margin-top: 80px;
  
 
  background: rgb(229,243,248);
  background: linear-gradient(180deg, rgba(229,243,248,1) 0%, rgba(255,255,255,1) 50%);
}
.home .banner {
  position: relative;
  width: 100%;
  
  /* height: 100vh; */
  display: flex;
  align-items: center;
}
/* .home .banner .bannerContent {
  width: 60%;
} */

.banner-image img{

  width: 100%;
}

.banner-shape img{

  width: 100%;
  /* height: 70px; */
}
.banner-shape{

  position: relative;
  width: 100%;
  border: 1px solid;
}
.home .banner .bannerContent h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.home .banner .bannerContent p {
  font-size: 2.5rem;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 4%);
}


.whatWeDo {
  padding: 8rem 0rem;
  border-bottom: 1px solid #eee;
}
.whatWeDo h2 {

  font-weight: bold;
  margin-bottom: 0.5rem;
  
    font-size: 4rem;
}
.whatWeDo h3 {
  font-size: 2.1rem;
  margin-top: 1rem;
  line-height: 2.9rem;
  font-weight: 600;
  color: #545557;
}



.expendYourBusiness {
  margin-top: 12rem;
}
.expendYourBusiness .heading {
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}
.expendYourBusiness .heading h2 {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5rem;
}
.expendYourBusiness .heading h2::after {
  position: absolute;
  left: 0rem;
  bottom: -0.8rem;
  width: 30%;
  height: 0.4rem;
  background-color: #1f7dbc;
  content: "";
}
.expendYourBusiness .heading h2::before {
  position: absolute;
  left: 33%;
  bottom: -0.8rem;
  width: 10%;
  height: 0.4rem;
  background-color: #1f7dbc;
  content: "";
}
.expendYourBusiness .content p {
  font-size: 2rem;
  font-weight: bold;
  color: #888;
}
.expendYourBusiness .content p:first-child {
  margin-bottom: 2rem;
}
.expendYourBusiness .rightSec {
  margin-top: -22rem;
}
.expendYourBusiness .rightSec .box {
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
}
.expendYourBusiness .rightSec .box h3 {
  font-size: 4rem;
  font-weight: bolder;
  margin: 2rem 0rem;
  color: #fff;
}
.expendYourBusiness .rightSec .box p {
  color: #fff;
  font-size: 2rem;
}
.expendYourBusiness .rightSec .box1 {
  background: rgb(188, 173, 114);
  background: linear-gradient(117deg, rgb(188, 173, 114) 0%, rgb(125, 240, 199) 53%);
}
.expendYourBusiness .rightSec .box2 {
  background: rgb(101, 131, 254);
  background: linear-gradient(180deg, rgb(101, 131, 254) 0%, rgb(37, 49, 129) 53%);
  margin-top: -3rem;
}
.expendYourBusiness .rightSec .box3 {
  background: rgb(124, 151, 254);
  background: linear-gradient(180deg, rgb(124, 151, 254) 0%, rgb(181, 107, 200) 52%);
  margin-top: 5rem;
}
.expendYourBusiness .rightSec .box4 {
  background: rgb(202, 130, 28);
  background: linear-gradient(0deg, rgb(202, 130, 28) 0%, rgb(218, 215, 26) 52%);
  margin-top: -2rem;
}
.expendYourBusiness .rightSec .middleHeading h3 {
  font-size: 3rem;
  padding: 3rem 1rem;
  font-weight: bold;
}

.statictics {
  margin-top: 8rem;
}
.statictics .statsBox {
  text-align: center;
  background-color: #181d1d;
  color: #fff;
  padding: 4rem;
  border-left: 2px solid #373e3e;
}
.statictics .statsBox h3 {
  font-size: 5rem;
}
.statictics .statsBox h3 span {
  color: #1f7dbc;
}
.statictics .statsBox p {
  font-size: 2.5rem;
  font-weight: bold;
}

/* our misson css start */

.mission {
  /* margin-bottom: 8rem; */
  background-color:#24aadd ;
  /* background-image: url(../images/mission\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.mission .contentWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.mission .contentWrapper .content {
  position: relative;
}

.mission .contentWrapper .content .fa-quote-left {
  position: absolute;
  left: -3rem;
  top: -5rem;
  font-size: 8rem;
  color: #fff;
}

.mission .contentWrapper .content .fa-quote-right {
  position: absolute;
  right: -3rem;
  bottom: -5rem;
  font-size: 8rem;
  color: #fff;
}

.mission .contentWrapper .content::after {
  position: absolute;
  left: 7rem;
  top: -2rem;
  width: 18%;
  height: 0.8rem;
  background-color: #fff;
  content: "";
}

.mission .contentWrapper .content::before {
  position: absolute;
  right: 7rem;
  bottom: -2rem;
  width: 18%;
  height: 0.8rem;
  background-color: #fff;
  content: "";
}

.mission .contentWrapper .content h2 {
  margin: 3rem 0rem;
  padding: 0rem 2rem;
  border-left: 0.8rem solid #fff;
  border-right: 0.8rem solid #fff;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 4.5rem;
}

@media screen and (max-width: 767px) {

  .mission .contentWrapper .content::before {
    position: absolute;
    right: 7rem;
    bottom: -1rem;
    width: 25%;
  }

  .mission .contentWrapper .content::after {
    position: absolute;
    left: 7rem;
    top: -1rem;
    width: 25%;
  }

  .mission .contentWrapper .content i {
    font-size: 5rem !important;
  }

  .mission .contentWrapper .content .fa-quote-left {
    position: absolute;
    left: -2rem;
    top: -3rem;
  }

  .mission .contentWrapper .content .fa-quote-right {
    position: absolute;
    right: -2rem;
    bottom: -3rem;
  }

  .mission .contentWrapper .content h2 {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 576px) {

  .mission .contentWrapper .content::before {
    position: absolute;
    right: 7rem;
    bottom: -1rem;
    width: 25%;
  }

  .mission .contentWrapper .content::after {
    position: absolute;
    left: 7rem;
    top: -1rem;
    width: 25%;
  }

  .mission .contentWrapper .content i {
    font-size: 5rem !important;
  }

  .mission .contentWrapper .content .fa-quote-left {
    position: absolute;
    left: 1rem;
    top: -3rem;
  }

  .mission .contentWrapper .content .fa-quote-right {
    position: absolute;
    right: 1rem;
    bottom: -3rem;
  }

  .mission .contentWrapper .content h2 {
    font-size: 2rem;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
  }

}

/* our misson css end */





.ourPlatform {
  margin-bottom: 0rem;
  margin-top: 0rem;
  padding: 6rem 0rem;
  background-color: aliceblue;
  
}
.ourPlatform h2 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  padding-bottom: 0.2rem;
  display: inline-block;
}
.ourPlatform h2::after {
  position: absolute;
  left: 0rem;
  bottom: -0.8rem;
  width: 50%;
  height: 0.4rem;
  background-color: #1f7dbc;
  content: "";
}
.ourPlatform h2::before {
  position: absolute;
  left: 58%;
  bottom: -0.8rem;
  width: 10%;
  height: 0.4rem;
  background-color: #1f7dbc;
  content: "";
}
.ourPlatform p {
  font-size: 2rem;
  text-align: left;
  margin: 3rem 0rem;
}
.ourPlatform ul {
  list-style: none;
}
.ourPlatform ul li {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.ourPlatform ul li i {
  margin-right: 1rem;
  color: #1f7dbc;
}

@media screen and (max-width: 991px) {
  /* .home .banner .bannerContent {
    width: 90%;
  } */
  .expendYourBusiness .rightSec {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 767px) {
  /* .home .banner .bannerContent {
    width: 100%;
  } */
  .bdr-sm {
    border-bottom: 2px solid #373e3e;
  }
}
@media screen and (max-width: 575px) {
  .home .banner .bannerContent h1 {
    font-size: 3rem;
    text-align: center;
  }
  .home .banner .bannerContent p {
    font-size: 1.6rm;
    text-align: center;
  }
  .expendYourBusiness .rightSec .middleHeading h3 {
    text-align: center;
    padding: 3rem 0rem;
  }
  .expendYourBusiness .rightSec .box2,
.expendYourBusiness .rightSec .box4 {
    margin-top: 3rem;
  }
  .expendYourBusiness .rightSec .box3 {
    margin-top: 0rem;
  }
  .expendYourBusiness .heading h2 {
    font-size: 3rem;
  }
  .expendYourBusiness .content p {
    font-size: 1.6rem;
  }
  .bdr-m {
    border-bottom: 2px solid #373e3e;
  }
  .ourPlatform h2 {
    font-size: 3rem;
  }
  .ourPlatform p {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=aboutUs.css.map */