$color1: #1f7dbc;
$color2: #6db12d;
$color3: #e3051f;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
html {
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
}

body {
    font-family: muli;
    font-size: 1.6rem;
    overflow-x: hidden;
    a {
        text-decoration: none;
    }
}

h1,
h2 {
    color: #2aabda;
}
.whatWeDo {
    padding: 8rem 0rem;
    border-bottom: 2px solid #eee;
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 2.1rem;
        margin-top: 2rem;
        line-height: 2.9rem;
        color: #545557;
    }
}
.whyChooseUs {
    margin-top: 8rem;
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 2.1rem;
        margin-top: 2rem;
        line-height: 2.9rem;
        color: #545557;
        font-weight: normal;
    }
    .whyChooseCard {
        padding: 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        img {
            width: 100%;
            min-height: 25rem;
            border-radius: 0.5rem;
        }
        p {
            font-size: 2rem;
            margin-top: 1.6rem;
            padding: 0rem 1rem;
            color: #000;
            font-weight: 500;
        }
    }
}
.portfolio {
    margin: 8rem 0rem;
    padding: 8rem 0rem;
    background-color: #eee;
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 2.1rem;
        margin-top: 2rem;
        line-height: 2.9rem;
        color: #1d1d1b;
    }
    .portfolioSlider {
        .item {
            border-radius: 1rem;
            position: relative;
            box-shadow: 0px 8.96989px 18.857px rgb(0 0 0 / 25%);
            overflow: hidden;
            &:hover {
                .title {
                    transition: all 0.2s ease;
                    visibility: visible;
                    opacity: 1;
                }
            }
            .title {
                transition: all 0.2s ease;
                visibility: hidden;
                opacity: 0;
                border-radius: 1rem;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background-color: #fff;
                text-align: center;
                padding: 2rem;
                i {
                    margin: 3rem 0rem 8rem 0rem;
                    font-size: 8rem;
                    color: $color1;
                }
                h2 {
                    font-size: 2.5rem;
                    font-weight: bold;
                }
                p {
                    margin-top: 2rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }
        .imageWrapper {
            border-radius: 1rem;
            overflow: hidden;
            img {
                border-radius: 1rem;
                width: 100%;
                min-height: 15rem;
            }
        }
    }
    .owl-carousel .owl-dots.disabled {
        display: block;
    }
    .owl-dots {
        text-align: center;
        padding-top: 15px;
    }
    .owl-dots button.owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        background: #ccc;
        margin: 0 0.8rem;
    }
    .owl-dots button.owl-dot.active {
        background-color: #24aadd;
    }
    .owl-dots button.owl-dot:focus {
        outline: none;
    }
}

.contactForm {
    .imgwrapper {
        img {
            width: 100%;
        }
    }
    h2 {
        text-transform: capitalize;
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 50px;
    }
    form {
        input {
            width: 100%;
        }
        .name-wrapper,
        .phone-wrapper,
        .email-wrapper,
        .age-wrapper,
        .marital-wrapper,
        .city-wrapper,
        .message-wrapper {
            margin-bottom: 30px;
            input {
                height: 50px;
                padding-left: 20px;
                border: none;
                background-color: #eee;
            }
        }
        .error {
            opacity: 0;
            visibility: hidden;
            color: red;
            font-size: 14px;
        }
        .marital-wrapper {
            padding-left: 20px;
            background-color: #eee;
            display: flex;
            align-items: center;
            input {
                border-radius: 0.5rem;
                width: 20px;
            }
            label {
                padding-left: 10px;
            }
            .space {
                width: 30px;
            }
        }
        .message-wrapper {
            textarea {
                width: 100%;
                height: 100px;
                padding-left: 20px;
                padding-top: 20px;
                background-color: #eee;
                border: none;
                resize: none;
                border-radius: 0.5rem;
            }
        }
        .submit-button {
            button {
                width: 100%;
                padding: 10px 0px;
                font-weight: bold;
                background-color: #24aadd;
                border: 0;
                border-radius: 0.5rem;
                color: #fff;
                transition: all 0.4s ease;
                &:hover {
                    transition: all 0.4s ease;
                }
            }
        }
    }
}

$color_1: var(--thm-black);
$color_2: inherit;
$color_3: #8a919e;
$background-color_1: #fff;

.service-two {
    border-bottom: 1px solid #eee;
    img {
        width: 100%;
    }
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
    .container {
        position: relative;
    }
    .block-title {
        margin-bottom: 0;
    }
}
.service-two__main {
    padding-right: 5rem;
    p {
        font-size: 2.1rem;
        margin-top: 2rem;
        line-height: 2.9rem;
        color: #545557;
    }
    .block-title {
        p {
            span {
                font-size: 2.2rem;
            }
        }
    }
    h3 {
        font-size: 4.8rem;
        color: $color1;
    }
    > p {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 36px;
    }
}
.service-two__box-wrap {
    margin-top: -40px;
    > .row {
        margin-left: -20px;
        margin-right: -20px;
        > [class*="col-"] {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.service-two__box {
    box-shadow: 0px 30px 50px 0px rgba(25, 71, 174, 0.1);
    border-radius: 10px;
    background-color: $background-color_1;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 35px;
    &:hover {
        .service-two__box-circle {
            -webkit-animation-play-state: running;
            animation-play-state: running;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        color: $color_1;
        margin-top: 30px;
        margin-bottom: 15px;
        a {
            color: $color_2;
        }
    }
    p {
        margin: 0;
        color: $color_3;
        font-size: 17px;
        line-height: 32px;
    }
}
.service-two__box-icon {
    width: 160px;
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(https://img.freepik.com/free-photo/bussiness-people-working-team-office_1303-22863.jpg?w=2000);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
}
.service-two__box-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation: service_hexagon 3s infinite linear;
    animation: service_hexagon 3s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.service-two__home-two__bg-1 {
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
}
.service-two__home-three {
    padding-top: 0;
    .service-two__main {
        position: relative;
        left: 100px;
    }
}

$color_1: #8a919e;
$background-color_1: #fff;
$background-color_2: transparent;

.contact-one {
    margin-bottom: 8rem;
    position: relative;
    z-index: 20;
    position: relative;
    z-index: 20;
    .inner-container {
        overflow: hidden;
        width: 60%;
        left: 50%;
        transform: translate(-50%);
        padding-top: 70px;
        padding-bottom: 70px;
        border-radius: 10px;
        position: relative;
        background-color: $background-color_1;
        box-shadow: 0px -20px 50px 0px rgba(25, 71, 174, 0.1);
    }
    .block-title {
        position: relative;
        margin-bottom: 10rem;
        p {
            span {
                font-size: 1.6rem;
                font-weight: bold;
            }
        }
        h3 {
            font-size: 3rem;
            font-weight: bold;
            line-height: 1em;
            color: $color1;
        }
    }
}
[class*="contact-one__shape-"] {
    position: absolute;
}
.contact-one__shape-1 {
    top: 0;
    left: calc(50% - 261px);
}
.contact-one__shape-2 {
    right: 72%;
    bottom: 40px;
    z-index: -1;
}
.contact-one__shape-3 {
    left: 85%;
    bottom: 40px;
    z-index: -1;
}
.contact-one__form {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    textarea {
        border: none;
        outline: none;
        display: block;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 15px;
        border-radius: 0;
        margin-bottom: 16px;
        color: $color_1;
        height: 95px;
    }
    .bootstrap-select {
        > .dropdown-toggle {
            border: none;
            outline: none;
            display: block;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #e5e5e5;
            font-size: 15px;
            border-radius: 0;
            margin-bottom: 16px;
            color: $color_1;
        }
    }
    input {
        &:not([type="checkbox"]) {
            &:not([type="radio"]) {
                &:not([type="submit"]) {
                    border: none;
                    outline: none;
                    display: block;
                    width: 100%;
                    height: 40px;
                    border-bottom: 2px solid #e5e5e5;
                    font-size: 15px;
                    border-radius: 0;
                    margin-bottom: 2rem;
                    color: $color_1;
                    font-weight: bold;
                }
            }
        }
    }
    &::-webkit-input-placeholder {
        opacity: 1;
        color: $color_1;
    }
    &::-moz-placeholder {
        opacity: 1;
        color: $color_1;
    }
    &:-ms-input-placeholder {
        opacity: 1;
        color: $color_1;
    }
    &::-ms-input-placeholder {
        opacity: 1;
        color: $color_1;
    }
    &::placeholder {
        opacity: 1;
        color: $color_1;
    }
}
.contact-one__btn {
    margin-top: 34px;
    background-color: $color1;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.contact-two {
    .contact-one__form {
        padding: 0;
    }
    .contact-one__btn {
        margin: 0;
        margin-top: 14px;
    }
}
.blog-details {
    .contact-one__form {
        padding-left: 0;
        padding-right: 0;
    }
    .contact-one__btn {
        margin-top: 0;
        margin-top: 14px;
    }
}
.faq-one__form-wrap {
    .contact-two__form-wrap {
        padding: 0;
        box-shadow: none;
        background-color: $background-color_2;
    }
    .contact-one__form {
        padding: 0;
        box-shadow: none;
        background-color: $background-color_2;
        margin-right: 20px;
    }
    .contact-one__btn {
        margin-top: 14px;
    }
}

.popupwrapper1 {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999999999;
    .thankyouPopupWrapper1 {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999999999999999;
        .thankyouPopup1 {
            width: 60vw;
            height: 50vh;
            position: absolute;
            z-index: 999999999999999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../images/popupBg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 1rem;
            padding: 4rem;
            h2 {
                text-align: center;
                text-transform: capitalize;
                font-size: 3.5rem;
                font-weight: bolder;
                color: #2e24d6;
                font-family: serif;
            }
            p {
                text-align: center;
                color: #fff;
                font-weight: bold;
                font-size: 1.8rem;
            }
            button {
                background: $color2;
                padding: 15px 35px;
                color: white;
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1.6rem;
                font-size: 14px;
                border: none;
                display: inline-block;
                min-width: 150px;
                text-align: center;
                border-radius: 5px;
                font-weight: 400;
                transition: all 0.3s ease;
                &:hover {
                    transition: all 0.3s ease;
                    background-color: $color1;
                }
            }
        }
    }
}
.popupwrapper2 {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999999999;
    .thankyouPopupWrapper2 {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999999999999999;
        display: flex;
        align-items: center;
        justify-content: center;
        .thankyouPopup2 {
            position: relative;
            width: 80vw;
            height: 80vh;
            padding: 1rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 1rem;
            background-color: #fff;
            display: flex;
            .popupImg {
                width: 40%;
                border-radius: 1rem;
                img {
                    border-radius: 1rem;
                    width: 100%;
                    max-height: 100%;
                }
            }
            .content {
                width: 60%;
                padding: 0rem 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 3.5rem;
                    font-weight: bolder;
                    color: #2e24d6;
                    font-family: serif;
                }
                p {
                    text-align: center;
                    color: #8a919e;
                    font-weight: bold;
                    font-size: 1.8rem;
                    padding: 2rem 0rem;
                }
                button {
                    background: $color2;
                    padding: 15px 35px;
                    color: white;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 1.6rem;
                    font-size: 14px;
                    border: none;
                    display: inline-block;
                    min-width: 150px;
                    text-align: center;
                    border-radius: 5px;
                    font-weight: 400;
                    transition: all 0.3s ease;
                    &:hover {
                        transition: all 0.3s ease;
                        background-color: $color1;
                    }
                }
            }
            .closeBtn2 {
                cursor: pointer;
                position: absolute;
                top: 1rem;
                right: 1rem;
                i {
                    font-size: 3rem;
                    padding: 1rem;
                }
            }
        }
    }
}

.popupwrapper3 {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999999999;
    .thankyouPopupWrapper3 {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 999999999999999;
        display: flex;
        align-items: center;
        justify-content: center;
        .thankyouPopup3 {
            position: relative;
            width: 40vw;
            height: 30vh;
            padding: 1rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 1rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
                text-align: center;
                text-transform: capitalize;
                font-size: 3.5rem;
                font-weight: bolder;
                color: #2e24d6;
                font-family: serif;
            }
            .closeBtn3 {
                cursor: pointer;
                position: absolute;
                top: .2rem;
                right: .2rem;
                i {
                    font-size: 2.5rem;
                    padding: 1rem;
                }
            }
        }
    }
}

//============= media queries ============
@media (min-width: 1200px) {
    .contact-one {
        .container {
            max-width: 700px;
        }
    }
}

@media (max-width: 1199px) {
    .service-two__main {
        padding-right: 0px;
        margin-bottom: 60px;
    }
    .about-two__images {
        right: 220px;
    }
    .about-three__home-two__images {
        right: 300px;
    }
    .banner-two__content br {
        display: none;
    }
    .banner-two {
        background-image: none;
    }
    .service-two__home-three .service-two__main {
        left: auto;
        margin-top: 90px;
    }
    .faq-one__home-three .faq-one__form-image {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 991px) {
    .contactForm {
        .imgwrapper {
            display: none;
        }
    }
    .contact-two .contact-one__form {
        margin-top: 60px;
    }
    .contact-one .inner-container {
        width: 80%;
    }
    .service-two__main {
        p {
            text-align: center;
        }
        h3 {
            text-align: center;
            font-size: 3.5rem;
        }
    }
    .popupwrapper1 .thankyouPopupWrapper1 .thankyouPopup1 {
        width: 70vw;
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
    .popupwrapper2 .thankyouPopupWrapper2 .thankyouPopup2 {
        .popupImg {
            width: 30%;
            img {
                height: 100%;
            }
        }
        .content {
            width: 70%;
        }
    }
    .popupwrapper3 .thankyouPopupWrapper3 .thankyouPopup3{
        width: 50vw;
        height: 40vh;
    }
}

@media screen and (max-width: 767px) {
    .hoverDropdown ul li {
        width: 100%;
    }
    .navigation {
        margin-top: -3rem;
    }

    .faq-one__form-wrap .contact-one__form {
        margin-right: 0;
    }
    .contact-one {
        text-align: center;
        .inner-container {
            width: 90%;
        }
    }
    .portfolio .portfolioSlider .item .title i {
        margin: 1rem 0rem 0rem 0rem;
    }
    .popupwrapper1 .thankyouPopupWrapper1 .thankyouPopup1 {
        width: 70vw;
        height: 60vh;
    }
    .popupwrapper2 .thankyouPopupWrapper2 .thankyouPopup2 {
        .popupImg {
            width: 35%;
            img {
                height: 100%;
            }
        }
        .content {
            padding: 1rem;
            width: 65%;
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.6rem;
                padding: 1rem;
            }
        }
        .closeBtn2 {
            top: 0.5rem;
            right: 0.5rem;
            i {
                padding: 0rem;
            }
        }
    }
    .popupwrapper3 .thankyouPopupWrapper3 .thankyouPopup3{
        width: 70vw;
        height: 60vh;
    }
}

@media screen and (max-width: 500px) {
    .whatWeDo,
    .whyChooseUs,
    .portfolio,
    .contactForm {
        h2 {
            font-size: 3.5rem;
            text-align: center;
        }
    }
    .whatWeDo,
    .whyChooseUs,
    .portfolio,
    .contactForm {
        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
        }
    }
    .portfolio .portfolioSlider .item {
        .title {
            padding: 1rem;
            i {
                font-size: 4rem;
            }
            h3 {
                font-size: 1.8rem;
                margin-top: 1rem;
                line-height: normal;
            }
            p {
                margin-top: 1rem;
                font-size: 1.4rem;
            }
        }
    }
    .popupwrapper1 .thankyouPopupWrapper1 .thankyouPopup1 {
        width: 80vw;
        height: 80vh;
    }
    .popupwrapper2 .thankyouPopupWrapper2 .thankyouPopup2 {
        .popupImg {
            display: none;
        }
        .content {
            width: 100%;
        }
    }
    .popupwrapper3 .thankyouPopupWrapper3 .thankyouPopup3{
        width: 80vw;
        height: 80vh;
    }
}
@media (max-width: 480px) {
    .contact-one__form {
        padding-left: 25px;
        padding-right: 25px;
    }
}
