$color1: #1f7dbc;
$color2: #6db12d;
$color3: #e3051f;

html {
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
}

body {
    font-family: muli;
    font-size: 1.6rem;
    overflow-x: hidden;
    a {
        text-decoration: none;
    }
}

header {
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 99999;
}
.nav-sticky.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.navigation {
    .showDropdown{
        &:hover{
            .hoverDropdown{
                display: block;
            }
        }
    }
    .hoverDropdown {
        display: none;
        background-color: #fff;
        background-color: rgba(59, 59, 58, 0.9);
        padding: 3rem;
        width: 25rem;
        position: absolute;
        left: 7rem;
        top: 5rem;
        z-index: 999999;
        ul {
            position: relative;
            text-align-last: left;
            z-index: 999999;
            li{
                padding-top: .4rem;
                padding-bottom: .4rem;
            }
            li:first-child {
                padding-top: 0rem;
                border-right: 0px solid #ffffffcc;
            }
            li:nth-child(3n + 1) {
                border-bottom: 2px solid $color1;
            }
            li:nth-child(3n + 2) {
                border-bottom: 2px solid $color2;
            }
            li:nth-child(3n + 3) {
                border-bottom: 2px solid $color3;
            }
            li {
                a {
                    color: #fff;
                    padding: 0.4rem 0rem;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.whatWeDo {
    margin-top: 8rem;
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: normal;
        margin-top: 4rem;
        line-height: 2.9rem;
        color: #1d1d1b;
    }
    .workCard {
        margin-top: 5rem;
        margin-bottom: 2rem;
        .cardImg {
            position: relative;
            &:hover {
                transition: all 0.6s ease;
                .sideWhiteBlock {
                    width: 11rem;
                    height: 11rem;
                }
                .sideColorBlock {
                    width: 3rem;
                    height: 3rem;
                }
            }
            &::after {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply;
                content: "";
                z-index: 9;
                background-color: $color1;
            }
            img {
                width: 100%;
                height: 23rem;
            }

            .sideWhiteBlock {
                z-index: 99;
                transition: all 0.6s ease;
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 9rem;
                height: 9rem;
                border-right: 2.5rem solid #fff;
                border-bottom: 2.5rem solid #fff;
            }
            .sideColorBlock {
                z-index: 99;
                transition: all 0.6s ease;
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 2rem;
                height: 2rem;
                border-right: 0.5rem solid $color1;
                border-bottom: 0.5rem solid $color1;
            }
        }
        .cardTitle {
            font-size: 3.2rem;
            margin: 4rem 0 2rem 0;
        }
        .cardDesc {
            font-size: 1.6rem;
        }
        .cardBtn {
            margin-top: 5rem;
            cursor: pointer;
            display: inline-block;
            position: relative;
            // border-left: .3rem solid $color1;
            padding: 0rem 2.3rem 1.5rem 2.3rem;
            &::after {
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: 0.2rem;
                background-color: $color1;
                width: 50%;
                transition: all 0.2s ease-out 0.1s;
                content: "";
            }
            &::before {
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: 100%;
                background-color: $color1;
                width: 0.2rem;
                transition: all 0.2s ease-out 0.1s;
                content: "";
            }
            &:hover {
                transition: all 0.2s ease-out 0.1s;
                &::after {
                    width: 100%;
                }
                &::before {
                    height: 0%;
                }
            }
            span {
                line-height: 2.2rem;
                text-transform: uppercase;
                font-size: 1.7rem;
                letter-spacing: 0.35rem;
                color: #1d1d1b;
                font-weight: 800;
            }
        }
    }
    .workCard1,
    .workCard4 {
        .cardBtn {
            &::after,
            &::before {
                background-color: $color1;
            }
        }
        .cardImg {
            &::after {
                background-color: $color1;
            }
            .sideColorBlock {
                border-right: 0.5rem solid $color1;
                border-bottom: 0.5rem solid $color1;
            }
        }
    }
    .workCard2,
    .workCard5 {
        .cardBtn {
            &::after,
            &::before {
                background-color: $color2;
            }
        }
        .cardImg {
            &::after {
                background-color: $color2;
            }
            .sideColorBlock {
                border-right: 0.5rem solid $color2;
                border-bottom: 0.5rem solid $color2;
            }
        }
    }
    .workCard3,
    .workCard6 {
        .cardBtn {
            &::after,
            &::before {
                background-color: $color3;
            }
        }
        .cardImg {
            &::after {
                background-color: $color3;
            }
            .sideColorBlock {
                border-right: 0.5rem solid $color3;
                border-bottom: 0.5rem solid $color3;
            }
        }
    }
    .workCard4 {
        padding-bottom: 8rem;
        border-bottom: 1px solid $color1;
    }
    .workCard5 {
        padding-bottom: 8rem;
        border-bottom: 1px solid $color2;
    }
    .workCard6 {
        padding-bottom: 8rem;
        border-bottom: 1px solid $color3;
    }
}

.ourClients {
    margin-top: 8rem;
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 2.6rem;
        line-height: 2.9rem;
        color: $color1;
    }
    .ourClints-slider {
        margin-top: 5rem;
        .item {
            padding-top: 2rem;
        }
        .bbBlue {
            border-bottom: 1px solid $color1;
        }
        .bbRed {
            border-bottom: 1px solid $color2;
        }
        .bbGreen {
            border-bottom: 1px solid $color3;
        }
        img {
            transition: all 0.3s ease;
            padding-bottom: 1rem;
            position: relative;
            top: 0rem;
            &:hover {
                transition: all 0.3s ease;
                top: -2rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .whatWeDo h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .whatWeDo .workCard .cardImg img {
        height: 19rem;
    }
}

@media screen and (max-width: 500px) {
    .whatWeDo {
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.8rem;
        }
        .workCard {
            .cardImg {
                img {
                    height: auto;
                }
            }
        }
    }
    .whatWeDo .workCard .cardBtn {
        margin-left: 1rem;
    }
}
