@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
html {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

body {
  font-family: muli;
  font-size: 1.6rem;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}
body p{

  font-size: 15px;
}

/* h1,
h2 {
  color: #2aabda;
} */

.banner .info .green {
  width: 100vw;
  height: 100vh;
}
.banner .item {
  height: 100vh;
}
.banner .item .img-fill {
  min-height: 100%;
}
.banner .item .img-fill img {
  width: 100%;
}
.banner .banner-inner h1 {
  line-height: 3.5rem;
  word-spacing: 0.3rem;
  text-transform: capitalize;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.navigation .showDropdown:hover .hoverDropdown {
  display: block;
}
.navigation .hoverDropdown {
  display: none;
  background-color: #24aadd;
  padding: 3rem;
  width: 25rem;
  position: absolute;
  left: 7rem;
  top: 5rem;
  border-radius: 0.5rem;
  z-index: 999999;
}
.navigation .hoverDropdown ul {
  position: relative;
  -moz-text-align-last: left;
       text-align-last: left;
  z-index: 999999;
}
.navigation .hoverDropdown ul li {
  padding: 0.8rem 0rem;
  text-align: left;
  border-bottom: 1px solid rgb(225, 223, 223);
  transition: all 0.3s ease;
}
.navigation .hoverDropdown ul li:hover a {
  transition: all 0.3s ease;
  color: #eee !important;
}
.navigation .hoverDropdown ul li a {
  color: #fff;
  padding: 0.4rem 0rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}
.navigation ul li a {
  color: #fff !important;
}

.commonSec {
  padding: 8rem 0rem;
  border-bottom: 1px solid #eee;
}
.commonSec .imgWrapper {
  overflow: hidden;
  border-radius: 1rem;
}
.commonSec .imgWrapper img {
  width: 110%;
  height: 100%;
  border-radius: 1rem;
}
.commonSec .contentWrapper h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.commonSec .contentWrapper p {
  font-size: 1.6rem;
  color: #767676;
}
.commonSec .contentWrapper span {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
}
.quotes{

  color: #24aadd;
  font-weight: bold;
}
.quotes i{

  color:#ee341d ;
}
#leadGeneration P {
  
color: #fff;
  
}

#leadGeneration span {
  color: #fff;
    
  }
  #leadGeneration i {
    color: #fff;

    
      
    }

.festivalMarketing {
  border: 0;
  padding-bottom: 0rem;
}

.tradeShow {
  padding-top: 0rem;
}

.retailAndStore {
  padding-top: 10rem;
}

.leadGeneration{

  background-color: #ee341d;
 

  background-repeat: no-repeat;
  color: #fff;
  background-color: #ed3237;
  /* padding: 50px 0; */
  background-image: url(../images/wave_top.png);
  background-repeat: no-repeat;
  padding-top: 140px;
  
} 

.leadGeneration p span{
  color: #fff;
}
.virtualEvents {
  background-color: #24aadd;
  /* background-image: url(../images/service-bg-2.png); */
  
}

.virtualEvents ul li {
  position: relative;
color: #fff;

    font-weight: 500;
   
    margin-left: 2rem;
}
.virtualEvents ul li i{
    position: absolute;
    left: -2rem;
    font-size: 2.2rem;
    color: #ed3237;
    top: 0.5rem;
}

#virtualEvents h2 {
  color: #fff;

}
#virtualEvents p {
  color: #fff;

}
#virtualEvents span {
  color: #fff;
  font-weight: 800;
  padding-left: 20px;

}
.leadGeneration h2, .virtualEvents h2 {
  text-align: center;
  font-size: 3.5rem;
}
.leadGeneration .topPara, .virtualEvents .topPara {
  text-align: center;
  color: #767676;
  font-weight: bold;
}
.leadGeneration .imgWrapper, .virtualEvents .imgWrapper {
  overflow: hidden;
  border-radius: 1rem;
}
.leadGeneration .imgWrapper img, .virtualEvents .imgWrapper img {
  width: 100%;
  border-radius: 1rem;
}

.portfolio {
  margin: 8rem 0rem;
  padding: 8rem 0rem;
  background-color: #eee;
}
.portfolio h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
}
.portfolio h3 {
  font-size: 2.1rem;
  margin-top: 2rem;
  line-height: 2.9rem;
  color: #1d1d1b;
}
.portfolio .portfolioSlider .item {
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 8.96989px 18.857px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.portfolio .portfolioSlider .item:hover .title {
  transition: all 0.2s ease;
  visibility: visible;
  opacity: 1;
}
.portfolio .portfolioSlider .item .title {
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
  border-radius: 1rem;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
}
.portfolio .portfolioSlider .item .title i {
  margin: 3rem 0rem 8rem 0rem;
  font-size: 8rem;
  color: #1f7dbc;
}
.portfolio .portfolioSlider .item .title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio .portfolioSlider .item .title p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.portfolio .portfolioSlider .imageWrapper {
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio .portfolioSlider .imageWrapper img {
  border-radius: 1rem;
  width: 100%;
  min-height: 15rem;
}
.portfolio .owl-carousel .owl-dots.disabled {
  display: block;
}
.portfolio .owl-dots {
  text-align: center;
  padding-top: 15px;
}
.portfolio .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 0.8rem;
}
.portfolio .owl-dots button.owl-dot.active {
  background-color: #24aadd;
}
.portfolio .owl-dots button.owl-dot:focus {
  outline: none;
}

@media screen and (max-width: 991px) {
  .commonSec .contentWrapper h2 {
    text-align: center;
  }
  .commonSec .contentWrapper p,
.commonSec .contentWrapper span {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .retailAndStore .contentWrapper h2 {
    font-size: 3rem;
    text-align: center;
  }
  .retailAndStore .contentWrapper span {
    display: block;
    text-align: center;
  }
  .portfolio .portfolioSlider .item .title i {
    margin: 1rem 0rem 0rem 0rem;
  }
}
@media screen and (max-width: 500px) {
  .portfolio h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  .portfolio h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .portfolio .portfolioSlider .item .title {
    padding: 1rem;
  }
  .portfolio .portfolioSlider .item .title i {
    font-size: 4rem;
  }
  .portfolio .portfolioSlider .item .title h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
    line-height: normal;
  }
  .portfolio .portfolioSlider .item .title p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=service-inner.css.map */


/* customer research service */

.customer-support {

  margin:8rem 0rem;
  
}
.customer-support h2{

  font-size: 3.5rem;
/* text-transform: capitalize; */
margin-bottom: 2rem;
text-align: center;
}

.customer-support .customer-card {
  padding: 25px 15px;



}

.icon-box {

  float: center;

}

.customer-card img {
  width: 65%;



}

.customer-card .content-box {
  padding-top: 20px;
  color: #fff;
}

.content-box h2 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 8px;
}

.b-1 {
  background-color: #70bc4f !important;
  padding-top: 20px;
  padding-bottom: 20px;

}

.b-2 {
  background-color: #24aadd !important;

}

.b-3 {
  background-color: #f5b120 !important;

}

.b-4 {
  background-color: #CDDC39 !important;

}

/* sales start */


@media screen and (min-width: 750px){
  
.banner-text{

  display: none;
}

.sales-section {

  position: relative;
  bottom: 120px;

}

.sales-section h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;

}

.sales-section p {
  font-size: 15px;
  text-transform: capitalize;


}

.sales-middle-box {

  padding: 24px;
  background: #fff;


  border-radius: 4px;
  box-shadow: 0 8px 26px 0 rgb(0 0 0 / 8%);
  background-color: #fff;
  margin: 3rem 0rem;

}

.sales-box {

  font-weight: 600;
}

.sales-box span {

  font-size: 20px;
  font-weight: 900;
  color: #24aadd;
}

.sales-box-2 {

  border-left: 1px solid gainsboro;
  ;
  border-right: 1px solid gainsboro;
}

#virtualEvents{

  background-color: #ee341d;
  margin-top: 4rem;

}
#virtualEvents i{
color: #fff;

}

.retailAndStore {
padding-top: 0;
}

.commonSec {
padding-bottom: 4rem ;
border-bottom: 0;
}

}

@media screen and(max-width:750px) {
  .sales-section{
    display: none;
  }
  .banner-text{

    display: block;
  }
}


/*....................................... Smart Shoring CSS .............................*/

.qoutes-section{

  background-image: url(../images/blue-bg-2.jpg);
  padding:6rem 0;
  text-align: center;
  color: #fff;
  margin-top: 6rem;
 
}
.qoutes-section p{

  font-size: 20px;
  font-weight: 600;

}
.content-section h2{
text-align: center;
font-size: 32px;
margin-bottom: 2rem;

}
.content-section p{
  font-size: 15px;
}
.content-section{

  border: 1px solid;
}

/* ................................................Collection service ................................................*/



.image-portfolio .box-card{
  border-radius: 10px;

  -webkit-box-shadow: -4px 4px 33px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: -4px 4px 33px 0px rgba(0,0,0,0.23);
  box-shadow: -4px 4px 33px 0px rgba(0,0,0,0.23);
}

.image-portfolio .box-card img{

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.image-portfolio .box-card p{

  font-size: 15px;
 padding: 10px 20px;
 font-weight: 100px;
}





/*............................................. HR Payroll Managment CSS...................................... */

.inner-title-section{

  margin-top: 6rem;
 
}
    
.inner-title-section h3{
  color: #24aadd;
}
.inner-title-section h2{

  font-size: 32px;
  margin-bottom: 1rem;
  
}
.sec-1{
  padding: 40px 0;
background-image:url(../images/blue-bg-2.jpg) ;
  margin-top: 6rem;
  color: #fff;
}
.sec-1 p{
  color: #fff !important;
}


/* ...................Strategy Sourcing CSS ...............................*/

.ss-content{

  margin-top: 6rem;

}
.ss-content h2{
  font-size: 32px;
  margin-bottom: 1.5rem;
}
.ss-content p{
  font-size: 15px;
}
.ss-content span{
  font-weight: bold;
  color: #24aadd;
}


@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

#card-sec .ol-cards,
#card-sec .ol-cards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card-sec .ol-cards {
  --flapWidth: 3rem;
  --flapHeigth: 2rem;
  --iconSize: 4rem;
  --numberSize: 4rem;
  --colGapSize: 2rem;
  width: min(100%, 40rem);
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  padding-inline-start: var(--flapWidth);
  font-family: sans-serif;
  color: #222;
  counter-reset: ol-cards-count;
  list-style: none;
 margin-bottom: 6rem ;
}
#card-sec .ol-cards > li {
  display: grid;
  grid-template-areas:
    "icon title nr"
    "icon descr nr";
  gap: 0 var(--colGapSize);
  box-sizing: border-box;
  align-items: center;
  padding: var(--colGapSize) var(--flapWidth) var(--colGapSize) 0;
  border-radius: 1rem 5rem 5rem 1rem;
  background-image: linear-gradient(to bottom right, #e9eaec, #ffffff);
  counter-increment: ol-cards-count;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  box-shadow: inset 2px 2px 2px white, inset -1px -1px 1px rgba(0, 0, 0, 0.25);
}

#card-sec .ol-cards > li > .icon {
  grid-area: icon;
  background: var(--accent-color);
  color: white;
  font-size: var(--iconSize);
  width: calc(2 * var(--flapWidth) + var(--iconSize));
  padding-block: 1rem;
  border-radius: 0 5rem 5rem 0;
  margin-inline-start: calc(-1 * var(--flapWidth));
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: grid;
  place-items: center;
}
#card-sec .ol-cards > li > .icon::before {
  content: "";
  position: absolute;
  width: var(--flapWidth);

  height: calc(100% + calc(var(--flapHeigth) * 2));
  left: 0;
  top: calc(var(--flapHeigth) * -1);
  clip-path: polygon(
    0 var(--flapHeigth),
    100% 0,
    100% 100%,
    0 calc(100% - var(--flapHeigth))
  );
  background-color: var(--accent-color);
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2)
  );
  z-index: -1;
}

#card-sec .ol-cards > li > .title {
  grid-area: title;
  font-weight: 600;
  font-size: 1.25rem;
}
#card-sec .ol-cards > li > .descr {
  grid-area: descr;
}
#card-sec .ol-cards > li::after {
  grid-area: nr;
  content: counter(ol-cards-count, decimal-leading-zero);
  color: var(--accent-color);
  font-size: var(--numberSize);
  font-weight: 800;
}
@media (max-width: 40rem) {
  #card-sec .ol-cards {
    --flapWidth: 2rem;
    --flapHeigth: 3rem;
    --iconSize: 4rem;
    --numberSize: 3rem;
    --colGapSize: 1rem;
  }
  .discr{
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  #card-sec .ol-cards {
    width: 50%;
    --flapWidth: 2rem;
    --flapHeigth: 2rem;
    --iconSize: 6rem;
    --numberSize: 5rem;
  }
  .discr{
    font-size: 15px;
  }
}
/* for demo */

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  color: #222;
}





/*........................... Background- Verification CSS ....................................................*/

.bg-content h2{
  color: #1d1d1b;
  font-size: 32px;
  font-weight: 600;

}
.bg-content p{
  color: #1d1d1b;
  font-size: 15px;
  text-align: left;

}
.bg-content ul li{
  color: #24aadd;
}




/*...................................................... bgv 2nd.............................................................. */

#bgtype {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  position: relative;
  min-width: 1240px;
  padding-bottom: 84px;
}
.normal_text {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-align: left;
  vertical-align: 0px;
  padding: 0px;
}
.clearfix:after {
  content: "\0020";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}
img.block {
  display: block;
}
.grpelem {
  display: inline;
  float: left;
}
#page {
  z-index: 1;
  width: 1240px;
  min-height: 678px;
  padding-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
}
#u97 {
  z-index: 4;
  width: 89px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 198px;
  left: 163px;
}
#ppu185 {
  z-index: 0;
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 107px;
  margin-left: 258px;
}
#pu185 {
  z-index: 18;
  width: 0.01px;
  margin-left: 74px;
}
#u185 {
  z-index: 18;
  width: 83px;
  position: relative;
  margin-right: -10000px;
}
#u288 {
  z-index: 20;
  width: 181px;
  position: relative;
  margin-right: -10000px;
  margin-top: 8px;
  left: 136px;
}
#u316 {
  z-index: 29;
  width: 99px;
  position: relative;
  margin-right: -10000px;
  margin-top: 12px;
  left: 452px;
}
#pu134 {
  z-index: 6;
  width: 0.01px;
  margin-top: 5px;
}
#u134 {
  z-index: 6;
  width: 100px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
}
#u446 {
  z-index: 7;
  width: 80px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 20px;
}
#u449 {
  z-index: 8;
  width: 113px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 20px;
}
#u146 {
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  left: 105px;
}
#u401 {
  z-index: 10;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 105px;
}
#u540 {
  z-index: 11;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 138px;
}
#u173 {
  z-index: 12;
  width: 200px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  left: 130px;
}
#u404 {
  z-index: 13;
  width: 200px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 130px;
}
#u549 {
  z-index: 14;
  width: 197px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 163px;
}
#u176 {
  z-index: 15;
  width: 20px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  left: 335px;
}
#u398 {
  z-index: 16;
  width: 20px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 335px;
}
#u543 {
  z-index: 17;
  width: 20px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 365px;
}
#u298 {
  z-index: 22;
  width: 200px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  left: 360px;
}
#u407 {
  z-index: 23;
  width: 200px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 360px;
}
#u552 {
  z-index: 24;
  width: 170px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 390px;
}
#u307 {
  z-index: 25;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  left: 565px;
}
#u395 {
  z-index: 26;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 565px;
}
#u546 {
  z-index: 27;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 565px;
}
#u338 {
  z-index: 31;
  width: 100px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  margin-right: -10000px;
  left: 590px;
}
#u344-4 {
  z-index: 32;
  width: 118px;
  min-height: 35px;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 25px;
  left: 56px;
}
#u621-4 {
  z-index: 36;
  width: 118px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 290px;
  left: 56px;
}
#u624-4 {
  z-index: 52;
  width: 118px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 290px;
  left: 286px;
}
#u627-4 {
  z-index: 56;
  width: 118px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 290px;
  left: 516px;
}
#u349-4 {
  z-index: 60;
  width: 148px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 25px;
  left: 271px;
}
#u352-4 {
  z-index: 64;
  width: 92px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 25px;
  left: 529px;
}
#u355 {
  z-index: 68;
  width: 123px;
  position: relative;
  margin-right: -10000px;
  margin-top: 118px;
  left: 54px;
}
#u384 {
  z-index: 70;
  width: 100px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
  left: 590px;
}
#u575 {
  z-index: 71;
  width: 120px;
  height: 20px;
  background-color: #25aadd;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 530px;
  left: 590px;
}
#u410 {
  z-index: 72;
  width: 20px;
  height: 285px;
  background-color: #25aadd;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  margin-right: -10000px;
  left: 690px;
}
#u443 {
  z-index: 73;
  width: 20px;
  height: 285px;
  background-color: #25aadd;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  margin-right: -10000px;
  margin-top: 265px;
}
#u423 {
  z-index: 74;
  width: 177px;
  
  position: relative;
  margin-right: -10000px;
  margin-top: 118px;
  left: 257px;
}
#u433 {
  z-index: 76;
  width: 135px;
  position: relative;
  margin-right: -10000px;
  margin-top: 152px;
  left: 508px;
}
#u455 {
  z-index: 78;
  width: 235px;
  position: relative;
  margin-right: -10000px;
  margin-top: 422px;
  left: 30px;
}
#u555 {
  z-index: 80;
  width: 125px;
  position: relative;
  margin-right: -10000px;
  margin-top: 387px;
  left: 312px;
}
#u565 {
  z-index: 82;
  width: 181px;
  position: relative;
  margin-right: -10000px;
  margin-top: 430px;
  left: 485px;
}
#pu630-4 {
  z-index: 40;
  width: 0.01px;
  margin-left: 89px;
  margin-top: 5px;
}
#u630-4 {
  z-index: 40;
  width: 118px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
}
#u633-4 {
  z-index: 48;
  width: 118px;
  min-height: 18px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  left: 227px;
}
#u636-4 {
  z-index: 44;
  width: 118px;
  min-height: 35px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  left: 428px;
}
#pu584 {
  z-index: 2;
  width: 0.01px;
  margin-right: -10000px;
  margin-top: 765px;
  margin-left: 973px;
}
#u584 {
  z-index: 2;
  width: 104px;
  position: relative;
  margin-right: -10000px;
}
#u581 {
  z-index: 28;
  width: 20px;
  height: 20px;
  background-color: #ee341d;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  margin-top: 5px;
}


/* ..........................................OUr Sampling Process .....................................*/


.our-sampling-process h2{

  font-size: 32px;
  color: #fff;
  margin: 6rem 0;}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-image: linear-gradient(to bottom left, #25aadd, #123264);
  padding: 1rem;
  padding-bottom: 0;
}
ol {
  --column-gap: 1rem;
  --row-gap: 2rem;
  --rocket-aspect: calc(134.13 / 196.24); /* svg viewbox */
  --rocket-width: 3rem;
  --rocket-height: calc(var(--rocket-width) / var(--rocket-aspect));
  --flame-outer-color: #f16e39;
  --flame-inner-color: #fed103;
  --number-circle-size: 3rem;
  --number-circle-border-size: 0.25rem;
  --number-line-height: 0.125rem;
  --number-line-length: calc(var(--rocket-width) / 2 + var(--column-gap) / 2);
  --number-line-dot-size: 0.25rem;
  padding-bottom: 5rem;
  list-style: none;
  display: grid;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  grid-template-columns: var(--rocket-width) 1fr;
  counter-reset: liCount;
  font-family: system-ui, sans-serif;
  color: white;
  overflow: hidden;
  width: min(45rem, 100%);
  margin-inline: auto;
}
@media (min-width: 30rem) {
  wrapper {
    padding: 2rem;
  }
  ol {
    --column-gap: 2rem;
    --rocket-width: 5rem;
    grid-template-columns: 1fr var(--rocket-width) 1fr;
  }
  ol .rocket {
    grid-column: 2 !important;
  }
  ol > li {
    grid-column: 1/-1 !important;
    width: calc(50% - var(--rocket-width) / 2 - var(--column-gap));
  }
  ol > li:nth-of-type(odd) {
    justify-self: end;
  }
  ol > li:nth-of-type(even) {
    text-align: right;
  }
  ol > li:nth-of-type(even):after {
    left: unset;
    right: calc(var(--circle-pos-x) * -1);
    --dot_pos_multiplier: -1;
  }
  ol > li:nth-of-type(even)::before {
    right: unset;
    left: calc(100% + var(--column-gap) / 2);
  }
}
ol::after {
  content: "";
  grid-row: 1;
  grid-column: 1/-1;
}
ol .rocket {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  isolation: isolate;
}
ol .rocket svg {
  width: var(--rocket-width);
  height: var(--rocket-height);
}
ol .rocket::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 200vh;
  top: calc(100% - var(--rocket-height) * 0.2);
  left: 25%;
  z-index: -1;
  background-image: radial-gradient(
      ellipse at center top,
      var(--flame-inner-color) 20%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 20%,
      var(--flame-outer-color) 40%,
      var(--flame-inner-color) 50%,
      var(--flame-outer-color) 60%,
      transparent 80%
    ),
    radial-gradient(
      ellipse at center top,
      var(--flame-outer-color) 35%,
      transparent 65%
    );
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% calc(var(--rocket-height) * 0.4), 100%,
    100% calc(var(--rocket-height) * 0.4);
}
ol > li {
  counter-increment: liCount;
  grid-column: -2;
  position: relative;
}

ol > li::after {
  content: counter(liCount, decimal-leading-zero);
  width: var(--number-circle-size);
  /* background-image: url(../images/icons/Email\ &\ Mobile.png); */
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  --circle-pos-x: calc(
    var(--number-circle-size) / 2 + var(--column-gap) + var(--rocket-width) / 2
  );
  left: calc(var(--circle-pos-x) * -1);
  top: calc(50% - var(--number-circle-size) / 2);
  background-color: var(--accent-color);
  font-weight: 600;
  --dot-size: calc(
    var(--number-circle-size) / -2 + var(--number-line-dot-size)
  );
  box-shadow: inset 0 0 0 var(--number-circle-border-size) currentcolor,
    inset -0.125rem 0.125rem 0.25rem var(--number-circle-border-size) rgb(0 0 0 /
          0.25),
    -0.125rem 0.125rem 0.25rem rgb(0 0 0 / 0.5),
    calc(var(--number-line-length) * var(--dot_pos_multiplier, 1)) 0 0
      var(--dot-size) currentcolor;
}

#email::after {
  content: counter(liCount, decimal-leading-zero);
  width: var(--number-circle-size);
  background-image: url(../images/icons/Email\ &\ Mobile.png);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  
  --circle-pos-x: calc(
    var(--number-circle-size) / 2 + var(--column-gap) + var(--rocket-width) / 2
  );
  left: calc(var(--circle-pos-x) * -1);
  top: calc(50% - var(--number-circle-size) / 2);
  background-color: var(--accent-color);
  font-weight: 600;
  --dot-size: calc(
    var(--number-circle-size) / -2 + var(--number-line-dot-size)
  );
  box-shadow: inset 0 0 0 var(--number-circle-border-size) currentcolor,
    inset -0.125rem 0.125rem 0.25rem var(--number-circle-border-size) rgb(0 0 0 /
          0.25),
    -0.125rem 0.125rem 0.25rem rgb(0 0 0 / 0.5),
    calc(var(--number-line-length) * var(--dot_pos_multiplier, 1)) 0 0
      var(--dot-size) currentcolor;
}

ol > li::before {
  position: absolute;
  content: "";
  width: var(--number-line-length);
  height: var(--number-line-height);
  background-color: currentcolor;
  right: calc(100% + var(--column-gap) / 2);
  top: calc(50% - var(--number-line-height) / 2);
}


.sample-report{

  padding: 10px 0;
  background-color: #24aadd;
  margin-bottom: 6rem;
}
.sample-report h2{

  color: #fff;
  font-size: 32px;
}

.sample-box{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width:749px) {

.bg-vf-mobile{

  display: block;
}
  .sample-box{

    justify-content: center;
    padding: 20px 0;
  } 

  .sample-report h2{

    text-align: center;

  }
  .bg-content{

    background-color: #fff;
    border: 0;
  }
  
}
.download-btn{

 
  padding-top: 10px;
}
.download-btn a{
text-decoration: none;
color: #fff;
background-color: #ee341d;
padding: 5px 30px;
line-height: 10px;
margin-top: 10px;
font-weight: 600;
border-radius: 10px;

}
.bg-content{

  background-color: #fff;
  border: 0;
}
.bg-vf-mobile{

  margin-bottom: 6rem;
  padding: 0 1rem;
  display: none;
}


.bg-vf-mobile h2{

  font-size: 32px;
  margin-bottom: 2rem;

}
.bg-vf-mobile .icon-box{

  background-color: #e9eaec;
  padding: 5px 20px;
  border-radius: 20px;
  -webkit-box-shadow: -2px 2px 19px -12px rgba(0,0,0,0.69);
-moz-box-shadow: -2px 2px 19px -12px rgba(0,0,0,0.69);
box-shadow: -2px 2px 19px -12px rgba(0,0,0,0.69);
}
.bg-vf-mobile  p{

  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

@media (max-width:749px) {
  
  .bg-vf-mobile{

    display: block;
  }

  #bgtype{

    display: none;
  }
}

/*..................................... Responsive Section ........................................*/
@media screen and (max-width: 500px) {



}

@media screen and (max-width: 991px) {

.qoutes-section p{

  font-size: 16px;
}




}


@media screen and (max-width: 767px) {




}